.horizontal-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.experience-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}


.experienceButton {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: solid #fff;
    border-radius: 20px;
    width: 30%;
    height: 28vh;
    overflow: hidden;
    color: #000;
    background-color: #f5f5dc;
    transition: all 0.3s ease;
    text-align: center;
}

.experienceButton:hover{
    box-shadow: 0 0 25px 20px rgba(94, 94, 94, 0.6) ;
    transform: scale(1.03);
}

.experienceButton:hover .expand-icon {
    opacity: 1;
}

.experience-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.experience-button-content img {
    max-width: 100%;
    max-height: 60%;
    height: auto;
    margin-bottom: 1rem;
    object-fit: contain;
}

#appleLogo {
    max-width: 100%;
    max-height: 40%;
}

.jobTitle h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
    border-top: 2px solid #000;
    padding-top: 0.5rem;
    width: 100%;
}


.summary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: solid #fff;
    border-radius: 20px;
    width: 44vw;
    height: 28vh;
    overflow: hidden;
    color: #000;
}





.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5dc;
    filter: blur(0px);
    z-index: 0;
    transition: filter 0.5s ease;
}

.summary:hover .background{
    filter: blur(15px);
    z-index: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
}

#LMlogo, #AppleLogo {
    object-fit: contain;
    padding: 2rem;
}

.content-wrapper h2 {
    padding-bottom: 1rem;
}

.expand-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 1.5rem;
}

.summary:hover .expand-icon {
    opacity: 1;
}

.modal {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(8px);
}

.modal.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.modal.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.modalContent {
    color: #000;
    position: relative;
    background-color: #f5f5dc;
    margin: calc(12.5svh - 20px);
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 75%;
    height: 75%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: transform 0.5s ease;
}

.modal.show .modalContent {
    transform: scale(1);
}

.modal.hide .modalContent {
    transform: scale(0.95);
}

.modalHeader {
    display: flex;
    padding: 1rem;
    background-color: #f5f5dc;
    border-radius: 25px 25px 0 0;
    border-bottom: #000 2px solid;
    height: 10vh;
}

.modalHeader h1 {
    text-align: left;
    align-self: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.modalHeader #LMlogo{
    width: 30vw;
    height: auto;
    object-fit: none;
    padding: 0;
    padding-right: 1rem;
}

.modalHeader #AppleLogo{
    object-fit: contain;
    padding: 0;
    padding-right: 1rem;
}

.project-bullets{
    padding: 1rem;
    list-style: circle;
}

.project-bullets li{
    padding: 0.25rem;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.skills-container {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Spacing below the container for the line and skills */
}

.skills-heading {
    padding-top: 2rem;
    margin-bottom: 10px;
    text-align: left;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.relatedSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img{
    height: 65px;
    width: auto;
    object-fit: contain;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}