:root{
    --mainfont: 'Century Gothic', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #212623;
    background-size: cover;
    color: white;
    background-position: center;
    font-family: var(--mainfont);
    
}
#main{
    position: absolute;
    left: 0%;
    top: 10%;
    padding: 3rem;
    transform: translate(10% 15%);
    align-items: start;
    display: flex;
    flex-direction: column;
}
#main h1{
    display: inline;
    padding-top: 1.2rem;
    font-weight: 500;
    letter-spacing: 4px;
}
#main h3{
    margin: 0;
    padding: 0.1rem;
    display: inline;
    font-weight: 300;
    line-height: 0.2;
}
#main h4{
    line-height: 1.6;
    margin: 0;
    padding-top: 0.1rem;
    font-weight: 100;
}
#main p{
    padding: 0px;
    font-weight: 100;
}
ul{
    list-style: square;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 100;
    padding: .1rem;
    padding-left: 1rem;
}