:root{
    --mainfont: 'Century Gothic', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #212623;
    color: white;
    font-family: var(--mainfont);
    
}

@keyframes fadein{
    0% {opacity: 0%; backdrop-filter: blur(0px);}
    100% {opacity: 100%; backdrop-filter: blur(25);}
    
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 3px 3px 5px #212623;
    overflow: hidden;

}
.box :not(h1){
    animation-name: fadein;
    animation-duration: 5s;
    animation-timing-function: ease;
}
.box svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    fill-opacity: 25%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(25px) brightness(0.7);
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 5px #212623;

}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    }

.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
