:root{
    --mainfont: 'Century Gothic', sans-serif;
    --gradient: linear-gradient(45deg, rgba(251,63,220,1) 0%, rgba(105,70,252,1) 100%);
    --background: #212623;
}

html {
    scroll-behavior: smooth;
  }
  
body{
    margin: 0;
    padding: 2px;
    background: var(--gradient);
    color: white;
    font-family: var(--mainfont);
    overflow-y: scroll;
}
h2{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    position: fixed;
    width: 95vw;
}

.nav a{
    color: white;
    text-decoration: none;
}

.section{
    margin: 1rem;
    padding: 1rem;
    background: var(--background);
    height: 97vh;
}

.section h1{
    border-bottom: 2px solid white;
    padding-bottom: .5rem;
}

.project-bullets{
    padding-left: 2rem;
    padding-top: 1rem;
    margin: 0px;
    list-style: circle;

}

.project {
    padding-left: 0.5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center; /* Optional: Aligns the items vertically in the center */

}

.project .project-name{
    margin-right: 10px;
    padding: 0px;
    margin: 0px;
}

.project .time {
    font-weight: normal;
    margin-left: 10px;
    margin: 0px;

}

#start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#start p{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
#start h1{
    border-bottom: 0;
}
#start img{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin-bottom: 1rem;
}

#about{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#about p{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
#about h1{
    border-bottom: 0;
}

#socials{
    height: 3.75rem;
    /* position: absolute; */
    bottom: 1vh;
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: .2rem;
    padding-right: .2rem;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

}
#socials div{
    position: relative;
    display: inline-flex;
    list-style: none;
    padding-left: .5rem;
    padding-right: .5rem;
}
#socials div a{
    color: grey;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out;
}
#socials div a:hover{
    color: white;
}