:root{
    --mainfont: 'Century Gothic', sans-serif;
    --gradient: linear-gradient(45deg, rgba(251,63,220,1) 0%, rgba(105,70,252,1) 100%);
    --background: #212623;
}


body{
    margin: 0;
    padding: 2px;
    background: var(--gradient);
    color: white;
    font-family: var(--mainfont);
    overflow-y: scroll;
}

.section{
    margin: 1rem;
    padding: 1rem;
    background: var(--background);
    height: 97vh;
}

.section h1{
    border-bottom: 2px solid white;
    padding-bottom: .5rem;
}

#about{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#about p{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;

}
#about h1{
    border-bottom: 0;
}

#socials{
    height: 3.75rem;
    /* position: absolute; */
    bottom: 1vh;
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: .2rem;
    padding-right: .2rem;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

}
#socials div{
    position: relative;
    display: inline-flex;
    list-style: none;
    padding-left: .5rem;
    padding-right: .5rem;
}
#socials div a{
    color: grey;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out;
}
#socials div a:hover{
    color: white;
}