:root{
    --mainfont: 'Century Gothic', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #212623;
    color: white;
    font-family: var(--mainfont);
    
}

nav{
    z-index: 2;
    top: 0;
    width: 97vw;
    height: 3.5rem;
    background: rgb(251,63,220);
    background: linear-gradient(45deg, rgba(251,63,220,1) 0%, rgba(105,70,252,1) 100%);
    display: grid;
    place-items: center;
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
nav svg{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    left: 20px;

}
nav div{
    padding: .85rem;
}
nav a{
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    transition: all ease-in-out;
}
nav a:hover:not(.current){
    color: #212623;
}
.current{
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    box-shadow: 3px 3px 20px #212623;
}


#socials{
    height: 3.75rem;
    /* position: absolute; */
    bottom: 1vh;
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: .2rem;
    padding-right: .2rem;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

}


#socials div{
    position: relative;
    display: inline-flex;
    list-style: none;
    padding-left: .5rem;
    padding-right: .5rem;
}
#socials div a{
    color: grey;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out;
}
#socials div a:hover{
    color: white;
}