#framingOut{
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    padding: 0.1rem;
    margin: 0;
    width: 30vw;
    height: 45vh;
    background: var(--gradient);
}

#framingIn{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 30vw;
    height: 45vh;
    background: var(--background); 
}

#framingOut h4{
    padding: 0;
    margin: 0;
    font-weight: 400;;
    text-justify: inter-word;
    text-align: justify;
    padding: 1rem;
}
#document {
    display: flex;
    aspect-ratio: 8.5/11;
    border: none;
    height: 40vh;
    border-radius: 5px;
}
#rows{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    height: 50vh;
}
#outside{
    background: var(--gradient);
    border-radius: 10px;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: relative;
    align-items: center;
    height: 45vh;
    width: 30vw;
    display: flex;
    padding: .2rem;
}
#inside{
    background-color: var(--background);
    border-radius: 10px;
    height: 45vh;
    width: 30vw;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
video{
    position: relative;
    border-radius: 10px;
    width: 28vw;
    padding: 0;
    margin: 0;
}